<!DOCTYPE html>
<html>

<head>
    <title>Contact form</title>
    <link rel="stylesheet" href="../styles/contact.css">
</head>

<body>
    <div class="container">
        <div class="return">
            <a style="text-decoration: none;" href="../index.html" target="_self"><span>&#8592</span>Return to home page</a>
        </div>
        <div class="form-model">
            <div class="flex-container">
                <header class="main-heading">CONTACT US</header>
                <label class="w1">We'll get back to you by email within one business day</label>
                <form class="form-list" method="POST" action="../ques1.html">
                    <div class="inner">
                        <span class="sub">
                              <label class="wh">First Name</label><br>
                              <input class="winInput1" type="text">
                          </span>
                        <span class="sub">
                            <label class="wh">Last Name</label><br>
                            <input class="winInput1" type="text" >
                          </span>
                    </div>
                    <label class="wht">*Email Address</label>
                    <input class="winInput" type="email">
                    <label class="wht">*What is your question?</label>
                    <input type="text" class="winInput">
                    <div class="button-section">
                        <button class="btn" type="submit">SUBMIT</button>
                        <span class="cnt">Free Website Tools</span>
                    </div>
                </form>

            </div>
        </div>

    </div>
</body>

</html>